* {
  border: 1px solid darkcyan;
}


html {
  height: 100%;
 
}

.project-box {
  margin-left: 12%;
  height: 95%;
}

.project-box-holder {
  margin-left: 9%;
  height: 37.5%;
}

.sidebar {
  height: 100%;
  float: left;
  width: 10%;
  background-color: greenyellow;
  padding: none;
  margin: none;
  
}

body {
  background-image: url(../img/background.jpg);
  height: 100%;
  width: 100%;
  
}

.container {
  
  width: 100%;
  height: 100%;
}

.copyright {
  width: 101%;
  }

.copyright h1{
  font-size: x-small;
  text-align: center;
  color: rgb(163, 152, 124);
}

.topbar {
  background-color: lightblue;
  height: 19.5%
}